// Keep these in sync with photoSlideshow.tsx:
$PHOTO_INTERVAL: 30s;
$FADE_IN_DURATION: 5s;

.root
{
   .photo
   {
      position: absolute;
      width: 100vw;
      height: 100vh;
      cursor: none;
      opacity: 0;
      transition: opacity $FADE_IN_DURATION linear;
	   background: #000000;

      &.visible
      {
         opacity: 1;
      }

      img.photoBackground
      {
         width: 100%;
         height: 100%;
         object-fit: cover;
		  filter: blur(10px) brightness(0.4);
		  position: absolute;
      }

      div.photoForeground
      {
         width: 100%;
         height: 100%;
		  display:flex;
		  justify-content: center;
		  justify-items: center;
		  transition: all ($PHOTO_INTERVAL + $FADE_IN_DURATION) linear;

		  img
		  {
			  width: auto;
			  height: auto;
			  border: 10px solid white;
			  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
		  }
      }
   }

   label
   {
      display: block;
      position: absolute;
      white-space: nowrap;
      color: #fff9;
      background-color: #0003;
      backdrop-filter: blur(5px);
      padding: 3px 9px;
      border-radius: 5px;
      font-size: 16px;
      line-height: 16px;
      cursor: none;
      opacity: 0;
      transition: opacity $FADE_IN_DURATION linear;

      &.visible
      {
         opacity: 1;
      }

      // Until CSS leading-trim is implemented, this little trick vertically centers the text in the label:
      &::before
      {
         content: "";
         vertical-align: middle;
      }

      $margin: 10px;

      &.pos0 { left:  $margin; top:    $margin; }
      &.pos1 { right: $margin; top:    $margin; }
      &.pos2 { right: $margin; bottom: $margin; }
      &.pos3 { left:  $margin; bottom: $margin; }
   }
}
